@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Sofia+Sans:wght@300;400;500;600;700;800;900;1000&display=swap");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sofia Sans", sans-serif;
}

.nutritions-tabs {
    .nt-all-content {
        .tabs-heading {
            .th-content {
                box-sizing: border-box;
                margin: 0 auto;
                max-width: 1260px;
                padding: 10px 15px;

                h1 {
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 58px;
                    margin: 36px auto;
                    text-align: center;
                }

                .tabs-btn {
                    display: flex;
                    -moz-justify-content: center;
                    justify-content: center;
                    border-bottom: 1px solid #e8e8e8;

                    .active-tab {
                        color: #000;

                        &::after {
                            opacity: 1;
                        }
                    }

                    button {
                        flex-grow: 1;
                        color: #7e7e7e;
                        cursor: pointer;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 22px;
                        padding-bottom: 20px;
                        position: relative;
                        text-align: center;
                        text-transform: uppercase;
                        transition: all 0.25s;
                        background: none;
                        border: none;
                        padding-top: 0.5rem;

                        &::after {
                            background: #000;
                            border-radius: 4px;
                            bottom: -5px;
                            content: "";
                            display: block;
                            height: 8px;
                            left: 0;
                            opacity: 0;
                            position: absolute;
                            right: 0;
                            transition: all 0.25s;
                        }
                    }
                }
            }
        }

        .tabs-content {
            margin-top: -10px;
            background-color: rgb(239 239 239/ 1);

            .tc-content {
                display: none;
                max-width: 640px;
                padding: 1rem;
                margin: 0 auto;

                .warning-text {
                    padding: 1.25rem;
                    font-size: 1rem;
                    line-height: 1.5rem;

                    b {
                        margin-bottom: 0.5rem;
                        display: block;
                        font-weight: 800;
                    }
                    p {
                        font-weight: 300;
                    }
                }

                .main-content {
                    border-radius: 0.5rem;
                    padding: 1.25rem;
                    padding-bottom: 0;
                    background-color: #fff;
                    margin-bottom: 0.625rem;

                    .img-content {
                        display: flex;
                        align-items: center;
                        gap: 1.25rem;
                        padding: 0 1.25rem 1.25rem 0;

                        .ic-img {
                            width: 30%;

                            img {
                                width: 100%;
                            }
                        }
                        .ic-content {
                            width: 70%;
                            padding-top: 1.25rem;

                            b {
                                font-size: 1.25rem;
                                line-height: 1.75rem;
                                font-weight: 800;
                            }
                            p {
                                font-size: 1.125rem;
                                line-height: 1.75rem;
                            }
                        }
                    }
                    .all-flavors {
                        border-top: 1px solid rgb(239 239 239/ 1);
                        padding: 1.25rem 0;
                        font-size: 18px;

                        b {
                            margin-right: 0.25rem;
                            font-weight: 800;
                        }
                    }
                    .view-facts-tab {
                        border-top: 1px solid rgb(239 239 239/ 1);
                        padding: 1.25rem 0;
                        font-size: 18px;
                        display: flex;
                        justify-content: space-between;

                        img {
                            width: 15px;
                        }
                    }
                    .facts-img {
                        display: none;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.nutritions-tabs .nt-all-content .tabs-content .tc-content.active-content{
    display: block;
}

.nutritions-tabs .nt-all-content .tabs-content .tc-content .main-content .facts-img.open-facts {
    display: block;
}
.nutritions-tabs .nt-all-content .tabs-content .tc-content .main-content .view-facts-tab img.rotate-img {
    rotate: 180deg;
}


@media only screen and (max-width: 767px){
    .nutritions-tabs .nt-all-content .tabs-content .tc-content .main-content .img-content .ic-content p {
        font-size: .875rem;
        line-height: 1.25rem;
        margin-bottom: 0;
    }
    .nutritions-tabs .nt-all-content .tabs-content .tc-content .main-content .img-content .ic-content b {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .nutritions-tabs .nt-all-content .tabs-content .tc-content .main-content .img-content{
        gap: 1rem;
        align-items: flex-start;
    }
    .nutritions-tabs .nt-all-content .tabs-content .tc-content .main-content .img-content .ic-content{
        padding-top: 0;
    }
    .nutritions-tabs .nt-all-content .tabs-content .tc-content .main-content .all-flavors {
        padding: 1rem 0;
        font-size: 14px;
    }
    .nutritions-tabs .nt-all-content .tabs-content .tc-content .main-content .view-facts-tab{
        font-size: 16px;
        padding: 1rem 0;
    }
    .nutritions-tabs .nt-all-content .tabs-content .tc-content .main-content .view-facts-tab img {
        width: 12px;
    }
    .nutritions-tabs .nt-all-content .tabs-heading .th-content h1 {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        margin: 20px 0;
        text-align: center;
    }
    .nutritions-tabs .nt-all-content .tabs-content .tc-content .warning-text {
        padding: 1.25rem 0;
        font-size: .875rem;
        line-height: 1.2rem;
    }
    .nutritions-tabs .nt-all-content .tabs-heading .th-content .tabs-btn button {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 12px;
    }
    .nutritions-tabs .nt-all-content .tabs-heading .th-content .tabs-btn button::after{
        height: 6px;
    }
}